<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask React Tutorial</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<!-- bootswatch -->
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

<!-- favicon -->
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<!-- custom css -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">


<!-- The core React library -->
<script src="https://npmcdn.com/react@15.3.1/dist/react.js"></script>
<!-- The ReactDOM Library -->
<script src="https://npmcdn.com/react-dom@15.3.1/dist/react-dom.js"></script>

<!-- react;router  -->
<script src="https://unpkg.com/react-router/umd/react-router.min.js"></script>
<!-- react;history  -->
<script src="https://unpkg.com/history/umd/history.min.js"></script>


<!--- render only js that has cookie signed -->
<script type="text/javascript" src="{{ url_for('static', filename='js_min/init.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js_min/router.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js_min/container.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js_min/button.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js_min/menu/container.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js_min/menu/item.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js_min/user/login.js') }}"></script>

<script>
	$(function(){
		// ReactDOM.render(React.createElement(Container,{text: "Welcome to my page", page: Page.home }),document.getElementById('mount-point'))
    // site = new Router(Container, {text: "Welcome to my page", page: Page.login },"mount-point") 
    // site.render()
	})
</script>
</head>
<body>
     <div id="mount-point">
         <p>If you see this, react is not working</p>
     </div>
     <script src="{{ url_for('static', filename='js_min/layout.js') }}"></script>
</body>
</html>
